{% extends 'base.html' %}
{% block content %}

<h1 class="display-3 text-center">Posts</h1>

<div class="container mb-3">
  <a href="/admin" class="btn btn-primary">ADD POSTS</a>
</div>

{% for post in posts %}

<div class="p-3">


  <div class="card card-body bg-black">
    <div class="row">

      <div class="col-3">
        <img src="{{post.image.url}}" alt="{{post.title}}" class="img-fluid" />
      </div>

      <div class="col-9">
        <h2>{{post.title}}</h2>
        <!-- trucatechars limita a solo 100 caracteres que aparezcan, striptags quita las etiquetas -->
        <p>{{post.description|striptags|truncatechars:100}}</p>
        <!-- le damos formato a la fecha para que empiece primero con el mes, dia y año -->
        <p>{{post.date|date:'M d Y'|upper}}</p>

        <a href="{% url 'mi_blog:post_detail' post.id %}" class="btn btn-primary">Detail</a>
        <a href="{% url 'mi_blog:delete_post' post.id %}" class="btn btn-danger">Delete</a>
      </div>
    </div>
  </div>
</div>

{% endfor %}
{% endblock %}